$cPrimario:#002B5B;
$cSecundario:#2B4865;
$cTerciario:#256D85;
$cOpcional:#8FE3CF;
$cGradient:linear-gradient( 106.9deg,  rgba(148,14,60,1) 60.9%, rgba(3,22,27,1) 122.3% );
$cGradient-dark:linear-gradient( 180.2deg,  rgba(24,24,24,1) 1.2%, rgba(58,58,58,1) 89.8% );
